/*Реализация плавного перехода*/

/*Анимация при появлении*/
.fade-enter-active {
    animation: inPage .6s;
}

/*Анимация при исчезании*/
.fade-leave-active {
    animation: outPage .2s;
}

@keyframes inPage {
    from {
        transform: translateY(-1%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}
@keyframes outPage {
    from {
        transform: translateY(0);
        opacity: 100%;
    }
    to {
        transform: translateY(1%);
        opacity: 0;
    }
}