
.v-dialog{
    backdrop-filter: blur(3px);
    background: rgba(2, 2, 2, 0.27);
}
.theme--dark.v-divider{
    background: rgba(59, 59, 59, 0.27);
}
.v-data-table, .v-card {
    margin: 0 0 10px 0;
    background: rgba(0, 0, 0, 0.2) !important;
    outline: rgba(255, 255, 255, 0.3) solid 2px !important;
    backdrop-filter: blur(3px);
}
.v-tab{
    color: #e8e8e8 !important;
}