
.v-dialog{
    /*backdrop-filter: blur(1px);*/
    background: rgba(2, 2, 2, 0.4);
    border: 1px solid gray;
}
.theme--dark.v-divider{
    background: rgba(59, 59, 59, 0.27);
}
.v-data-table, .v-card {
    margin: 0 0 10px 0;
    background: rgba(0, 0, 0, 0.6) !important;
    outline: rgba(255, 255, 255, 0.3) solid 2px !important;
}
.v-tab{
    color: #e8e8e8 !important;
}
.row{
    padding-left: 20px;
}
.card-status-text{
    margin-top: -35px !important;
    padding-left: 25px !important;
    font-size: 12px !important;
}
.card-text{
    padding-left: 40px !important;
    color: white !important;
}
.menu{
    /*backdrop-filter: blur(1px);*/
    background: rgba(2, 2, 2, 0.3) !important;
    border: 2px solid rgba(255, 255, 255, 0.3) !important;
}